.app-layout {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-x: auto;
    min-width: 600px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
    overflow: auto;
    min-width: 350px;
}

.nodata {
    color: var(--nodata-fg);
    font-size: 1.1em;
    font-style: italic;
    padding: 2em;
    text-align: center;
}

.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--nodata-fg);
    background-color: var(--background);
}

.loader {
    border: 4px solid var(--table-row-bg-alt);
    border-top: 4px solid var(--category-outline);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-bottom: 1em;
}

.table-loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--nodata-fg);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.resizer {
    position: absolute;
    top: 0;
    right: -2px;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    user-select: none;
    z-index: 20;
}

.resizer:hover {
    background-color: var(--vscode-sash-hoverBorder, #007fd4);
    opacity: 0.5;
}